/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* shared styles */
body {
    background-color: black;
    color: white;
}

header,
.change,
.run-section,
.trainings-section {
    margin: 50px 190px;
}

:root {
    --primary-color: #e6533c;
    --dark-02: #ffffff80;
}

.btn-primary {
    height: 55px;
    width: 225px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.1rem;
    font: 600;
    margin-right: 15px;
}

main section {
    margin: 100px 0px;
}

/* navbar related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.fitness {
    font-size: 2.2rem;
    font-weight: 900;
    color: var(--primary-color);
}

.Home {
    background-color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 20px;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.banner-heading {
    font-size: 4.9rem;
    font-weight: 800;
    margin: 20px;
}

.banner-description {
    color: var(--dark-02);
    margin: 20px;
}

.shape {
    font-style: italic;
}

.banner-btns {
    margin: 20px;
}

.Download {
    border: 1px solid white;
    background-color: black;
}

/* main section related styles */
/* change section styles */
.change-text {
    width: 670px;
    margin: 50px auto;
    text-align: center;
}

.change-heading {
    font-size: 48px;
    margin: 20px auto;
}

.change-description {
    font-size: 0.8rem;
    color: var(--dark-02);
}

.habits {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card img {
    border-radius: 50%;
    border: 1px solid white;
}

.card {
    text-align: center;
}

.card-heading {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 10px 0px;
}

.card-description {
    font-size: 0.8rem;
    color: var(--dark-02);
    margin: 10px 0px;
}

.run-section {
    padding: 50px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    border-radius: 10px;
}

.run-img img {
    width: 100%;
    border-radius: 10px;
}

.run-heading {
    font-size: 3rem;
    margin: 20px 0px;
    font-weight: 900;
}

.run-description {
    font-size: 0.8rem;
    color: var(--dark-02);
    margin: 20px 0px;
}

.trainings-heading {
    font-size: 3rem;
    font-weight: 900;
    margin: 20px 0px;
}

.trainings-description {
    font-size: 0.8rem;
    color: var(--dark-02);
    margin: 20px 0px;
}

.training-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.img-1 {
    max-width: 250px;
    height: 200px;
}

.img-2 {
    max-width: 520px;
    height: 200px;
}

.img-3 {
    max-width: 290px;
    height: 200px;
}

.img-4 {
    max-width: 520px;
    height: 200px;
}

.img-5 {
    max-width: 520px;
    height: 200px;
}

.img-6 {
    max-width: 290px;
    height: 200px;
}

.BMI-section {
    padding: 50px 100px;
    background-color: #222222;
}

.calculator {
    text-align: center;
}

.calculator-heading {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.calculator-description {
    font-size: 0.8rem;
    color: var(--dark-02);
    margin-bottom: 20px;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
}

.calculator-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
}

.calculator-section-heading {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.bmi-heading {
    font-size: 1.75rem;
    font-weight: 900;
    margin: 20px 0px;
}

.bmi-description {
    font-size: 0.8rem;
    color: var(--dark-02);
    margin: 20px 0px;
}

.input-fields {
    margin: 30px 0px;
}

.input-field {
    margin: 10px 0px;
}


.input-fields input {
    width: 280px;
    height: 45px;
    margin: 20px 0px;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right );
    color: white;
}
